<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <div th:replace="fragments :: page-header"></div>
    <div id="plaintext-container">
        <form method="post" action="/rot13/cipher">
            <p th:text="${primaVM.instructions.get(T(com.metatarsal.primavera.enums.InstructionKeys).ENTER_PLAINTEXT)}"></p>
            <input type="text" name="plaintext" />
            <br /><br /> <!--TODO fix this css -->
            <input type="submit" value="Get ROT13 Cipher" />
        </form>
    </div>
</body>
</html>